<div class="InputGroup">
  <%= form.label :email, class: "InputLabel" %>
  <%= form.text_field :email, type: 'email', class: "InputField" %>
</div>

<div class="InputGroup">
  <%= form.label :password, class: "InputLabel" %>
  <%= form.password_field :password, class: "InputField" %>
</div>
