<div class="Box Box-isCentered">
    <div class="Form">
        <%= form_for(@user, :url => invite_user_precreate_path ) do |form| %>
            <div class="InputGroup">
                <%= form.label :email, class: "InputLabel" %>    
                <%= form.text_field :email %>
            </div>

            <%= form.submit 'Invite', :class => "Button Button-isPrimary" %>
        <% end %> 
    </div>
</div>