<h3>Ongoing Leagues</h3>
<ul>
    <% if @ongoing_leagues.count > 0 %>
        <% @ongoing_leagues.each do |league| %>
            <li><%= league.name %> - <%= link_to "View League", league_path(league) %></li>
        <% end %>

    <% else %>
        <p>You are not part of any leagues</p>
    <% end %>
</ul>

<h3>Top 5</h3>
<ol>
    <% @top5_players.each do | score | %>
        <li><%= score[:user][:name] %> - <%= score[:total]%> Wins</li>
    <% end %>
</ol>