<h3>Ongoing Leagues</h3>
<ul>
    <% @ongoing_leagues.each do |league| %>
        <li><%= league.name %></li>
    <% end %>
</ul>

<h3>Finished Leagues</h3>
<ul>
    <% @completed_leagues.each do |league| %>
        <li><%= league.name %></li>
    <% end %>
</ul>

<h3>Overall Board</h3>
<ol>
    <% @players_scores.each do |key, value| %>
        <li><%= value %></li>
    <% end %>
</ol>