/*
 *= require_self
 */

$pallet1: #bada55;
$pallet2: #bada55;
$pallet3: #bada55;
$pallet4: #333;
$pallet5: #bada55;
$pallet6: #bada55;

$warning: rgba(230,126,34, 0.5);
$info: rgba(52,152,219, 0.5);

$gap: 10px;

$bronze:#cd7f32;
$silver:#c0c0c0;
$gold:#facf84;

$border: 1px solid $pallet4;

 @import 'utilities/_reset.scss';
 @import 'utilities/_typography.scss';

 @import 'layout/_Main.scss';
 @import 'layout/_VsGrid.scss';
 @import 'layout/_Row.scss';

 @import 'atoms/_Vs.scss';
 
 @import 'molecules/_Alert.scss';
 @import 'molecules/_Button.scss';
 @import 'molecules/_Box.scss';
 @import 'molecules/_InputGroup.scss';
 @import 'molecules/_InputLabel.scss';
 @import 'molecules/_InputField.scss';

 @import 'organisms/_ScoreBoard.scss';
 @import 'organisms/_Tools.scss';
 @import 'organisms/_Card.scss';
 @import 'organisms/_Form.scss';
 @import 'organisms/_UserCard.scss';
 @import 'organisms/_Game.scss';
 @import 'organisms/_Navigation.scss';